<a href="https://colab.research.google.com/github/aseel2001-so/gazaskygeeks/blob/main/carprice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import warnings
warnings.filterwarnings('ignore')

# Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Reading the data
cars = pd.read_csv('/CarPrice_Assignment.csv')
cars.head(20)
cars.tail(10)
#cars.describe()

#Splitting company name from CarName column
CompanyName = cars['CarName'].apply(lambda x : x.split(' ')[0])
#cars.insert(3,"CompanyName",CompanyName)
#cars.drop(['CarName'],axis=1,inplace=True)
#cars.head()
print(CompanyName)

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Name: CarName, Length: 205, dtype: object